<div class="row">
    <h2>Contact</h2>
    <p style="justify-content: baseline;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid eos nesciunt
        fuga excepturi ex. Assumenda at
        enim pariatur id nemo? Laudantium doloribus assumenda voluptatem. Necessitatibus, provident velit. Eveniet,
        illum dolorum?</p>
</div>
<div class="row justify-content-center">
    <div class="card w-50 display-flex bg-light">
        <div class="card-body justify-content-md-end">
            <div class="row mb-5 my-0">
                <label for="" class="col-sm-2 col-form-label"><strong style="font-size: small;"> Your E-mail</strong></label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="colFormLabel" placeholder="Your email">
                </div>
            </div>
            <div class="row mb-8 my-0">
                <label for="" class="col-sm-2 col-form-label"><strong style="font-size: small;">Your Menssage</strong></label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Enter your menssage here"></textarea>
                </div>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>