<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container text-center navbar-expand-lg">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <div class="col">
                <p class="text-light fs-3">Start Bootstrap</p>
            </div>



            <div class="col-3">
                <p class="text-light fs-6">About</p>
            </div>

            <div class="col-3">
                <p class="text-light fs-6">Services</p>
            </div>

            <div class="col-3">
                <p class="text-light fs-6">Portfolio</p>
            </div>

            <div class="col-3">
                <p class="text-light fs-6">Contact</p>
            </div>


        </a>


    </div>


</nav>